<nav  class="app-navigation">
  <ul>
    <li><a href="#!" ><%= __('On Going Planners') %></a></li>
    <li><a href="#!" ><%= __('Buildings') %></a></li>
    <li><a href="/service/admin" ><%= __('Services') %></a></li>
    <li><a href="/user/admin" ><%= __('Users') %></a></li>
    <li><a href="#!" ><%= __('Rules') %></a></li>
    <li><a href="#!" ><%= __('Settings') %></a></li>
  </ul>
</nav>
